.clusterbox {
    font-family: Courier, Arial;
    font-size: 65%;
    border: solid 1px rgb(222, 24, 24);
    width: 800px;
    height: 400px;
}
.clustertreeHeader {
    background-color: rgb(205 190 205);
    cursor: move;
    font-weight: bold;
    font-size: 70%;
}

#clustertree {

    padding-left: 3px;
    border: solid 1px rgb(91, 26, 220);

    width: 30%;
    height: 100%;
    float:left;
}

#clusterviz {
    padding-left: 3px;
    border: solid 1px rgb(25, 166, 79);

    width: 68%;
    height: 100%;
    float:right;
}

a.control:link,
a.control:active,
a.control:hover,
a.control:visited {
    color: blue;
}

ul.clustertree, ul.clustertree ul {
    margin:0px;
    padding-left: 10px;;
}

ul.clustertree li {
    list-style-type: none;
    position: relative;
    padding-left: 15px;

}

ul.clustertree li ul {
    display: none;
    padding-left: 15px;
}

ul.clustertree li.open>ul {
    display: block;
    padding-left: 15px;
}

ul.clustertree li a {
    color: black;
    text-decoration: none;
}

ul.clustertree li a:before {
    /* the expand/collapse symbols before each item */
    height: 1em;
    font-size: .8em;
    display: block;
    position: absolute;
    left: -0.2em;
    top: .05em;
}

ul.clustertree li>a:not(:last-child):before {
    content: '⊞';
    font-weight: bold;
}

ul.clustertree li.open>a:not(:last-child):before {
    content: '⊟';
    font-weight: normal;
}

ul.clustertree li.open>a:last-child:before {
    content: '';
    font-weight: bold;
}

ul.clustertree li:before,
ul.clustertree li:after {
    position: absolute;
    left: -0.7em;
    border-style: dotted;
    border-color: #909090;
    border-width: 0px;
}

ul.clustertree li:before {
    content: "";
    border-top-width: 1px;
    height: 0;
    width: 8px;
    top: 9px;
}

ul.clustertree li:after {
    content: "";
    border-left-width: 1px;
    height: 100%;
    width: 0px;
    top: 2px;
}

ul.clustertree>li::before {
    width: 0px;
}

ul.clustertree>li::after {
    height: 0px;
}

ul.clustertree>li li:last-child:after {
    height: 8px;
}